{% extends 'base.html.twig' %}

{% block title %}Aplicação cadastro de cidadãos{% endblock %}

{% block body %}

<div class="container mx-auto">
    <h1>Aplicação cadastro de cidadãos</h1>
</div>
{% endblock %}
